{% import_yaml "hubble/defaults.yaml" as defaults %}
{% import_yaml "hubble/osmap.yaml" as osmap %}

{% set os = salt['grains.filter_by'](
  osmap,
  merge=salt['pillar.get']('hubble:lookup', {}),
)
%}

{% do defaults.hubble.update(os) %}

{% set hubble = salt['pillar.get'](
  'hubble',
  default=defaults.hubble,
  merge=True,
)
%}
